html {
	overflow-x: hidden;
}
.show {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
}
.slide {
	background-color: gold;
	height: 100vh;
	width: 100vw;
	flex-shrink: 0;
}
.slide:nth-child(even) {
	background-color: yellowgreen;
}
